<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head>
    <title>Aloitussivu</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script crossorigin="anonymous"
            src="https://kit.fontawesome.com/33c2e3aa17.js"></script>
</head>
<link crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      rel="stylesheet">
</head>
<body>

<div class="jumbotron">
    <h1>Aloitussivu</h1>
</div>

<div class="container">
   <span>Avasin APIn GET-requestit avoimeksi.</span>
    <span>Kaikkia rajapintoja vastaan voi tehdä GET-hakuja ilman tokenia.</span> <br />


    <a href="https://github.com/jussihayha/TicketGuru-API"><br/>API-dokumentaatio</a> <br />
    <a href="https://kineesio-ticketguru.herokuapp.com/api/">API-juuri</a> <br />
    <a href="https://learning.postman.com/docs/sending-requests/authorization/#bearer-token">Postman & JWT / bearer token</a> <br />



</div>
</body>
</html>